/* add your CSS here */

* {
    margin: auto;
}

#card {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    border: thin solid #e4b65a;
    border-radius: 1em;
    background-color: #000000;
    width: 340px;
    box-shadow: 2px 2px 5px #e4b65a;
    padding: 0 20px 20px 20px
}

h3 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 25px;
    text-transform: uppercase;
    margin: 1em 0;
    color: #e4b65a;
    padding: 5px;
    border: 1px solid #e4b65a;
    border-radius: 0.5em;
    text-shadow: 2px 2px 5px #e4b65a;
}

img {
    width: 300px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #e4b65a;
    border-radius: 1em;
}

.main {
    padding: 4px;
    text-align: justify;
    border: 1px solid;
    border-radius: 1em;
    background-color: #bf9b30;
}

.fun-fact {
    font-style: italic;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: left;
    line-height: 1.6;
    font-size: 13px;
    padding: 0.5em;
}

span {
    font-weight: bold;
}

.description,
.fun-fact {
    font-size: 13px;
    padding: 0.5em;
}
